.headroom {
    will-change: transform;
	transition: transform 200ms linear;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	height: 100px;
	top: 0;
	position: absolute;
	border-width: 0 0 1px;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030	
}

.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.headroom--not-top{
	background: rgba(0, 0, 0, 0.8) !important;
	padding: 0;
}

.headroom div.navigation-holder{
	display: inline-block;
	float: right;	
}

.headroom div.logo-holder{
	display: inline-block;
	float: left;	
}

.headroom div.logo-holder img{
	display: block;
	max-height: 100%;
	padding: 10px 0;
	height: auto;
}

.headroom .navigation-holder ul{
	list-style: none;
}

.headroom .navigation-holder ul li{
	float: left;
}

.headroom.headroom--top{
	position: relative;
}

.headroom .headroom-menu{
	display: inline-block;
}

.headroom .headroom-menu li a{
	line-height: 20px;
	padding: 40px 0 40px;
	display: block;	
	margin-right: 20px;
	text-transform: uppercase;
	color: white;
}

.headroom .headroom-menu li a:after{
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;	
}

.headroom .headroom-menu li a:hover:after{
	transform: scaleX(1); 
}

.headroom.headroom--top .headroom-menu li a{
	color: black;
}

@media screen and (max-width: 414px) {
	.headroom{
		height: auto;
	}
	
	.headroom div.logo-holder{
		display: block;
		float: none;
	}
	
	.headroom div.logo-holder .logo{
		margin: 0 auto;
		width: 100px;
		margin-top: 10px;
	}
	
	.headroom .headroom-menu{
		margin: 0;
		padding: 0;
	}
	
	.headroom .headroom-menu li{
		
	}
}

