.single-thumb-content div.thumbnail-holder{
	min-height: 200px;
}

.single-thumb-content > div{
	background-size: auto 100%;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
}

.single-thumb-content > div.right{
	background-position: right;
}

.single-thumb-content div.content{
	background: white;
	padding: 20px;
}

.single-thumb-content div.content h2{
	text-transform: uppercase;
	margin-top: 0;
	color: #333;
}

.single-thumb-content div.content hr{
	width: 100px;
	display: inline-block;
	border-bottom: 2px solid #d6d6d6;
	border-top: none;
	margin-bottom: 30px;	
}

.single-thumb-content div.content .entry-content ul{
	list-style: none;
	padding: 0;
}

.single-thumb-content div.content .entry-content ul li:before{
   font-family: FontAwesome;
   content: "\f0a4";
   display: inline-block;
   margin: 0 5px 0 20px;
   padding-right: 3px;
   vertical-align: middle;	
}

@media screen and (max-width: 768px) {
	.single-thumb-content > div{
		background-size: 100%;		
	}
	
	.single-thumb-content > div.right{
		background-position: bottom;
	}	
}